:root {
    --primary-color: #dd8daf;
    --secondary-color: #e8f67e;
    --tertiary-color: #42c6ea;
    --quaternary-color: #efbdda;
    --quinary-color: #ffdfd3;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dd8daf;
}
/* Header Section */
header, footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
}
header h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 35px;
}
header h1:hover {
    color: var(--tertiary-color);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 20px;    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
 }
 header nav ul li a, footer ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* Hero Section */
 .hero img {
    width: 100%;
    height: 550px;
    object-fit: cover;
 }
 .cool-subtitle {
    position: absolute;
   color: #ffdfd3;
   top: 450px;
   left: 75%;
   font-size: 40px;
   font-style: italic;
   font-weight: bolder;
 }
/* About Me Section */
    .about-me img {
        width: 250px;
        height: 250px;
        display: flex;
    }
   .about-me, .work {
    display: flex;
    border: #dd8daf solid 3px;
    margin: 10px;
   }
   .section-title {
    border-right: var(--quaternary-color) solid 2px;
    font-size: 35px;
    color: var(--primary-color);
    margin: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   }
   .about-me p {
    display: flex;
    line-height: 1.7;
    color: var(--primary-color);
    font-size: 20px;
    align-items: center;
   }

   /*Work Section*/
.card {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
   .card img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border: var(--primary-color) solid 4px;
    opacity: 70%;
}
.card img:hover {
    opacity: 100%;
}

   /* Footer Section */
footer {
    justify-content: space-around;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
footer ul li {
    display: flex;
    font-size: 23px;
    font-style: normal;
}
footer ul li a {
    text-decoration: none;
    color: #dd8daf;
}
footer ul li:hover, footer ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 20px; 
}