:root {
    --primary-color: #dd8daf;
    --secondary-color: #e8f67e;
    --tertiary-color: #42c6ea;
    --quaternary-color: #efbdda;
    --quinary-color: #ffdfd3;
    --words:var(--primary-color)
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #dd8daf;
    background-color: var(--quinary-color);
}
/* Header Section */
header, footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    flex-wrap: wrap;
    top: 0;
    bottom: 0;
}
header h1 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 35px;
}
header h1:hover {
    color: var(--tertiary-color);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 20px;    
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
 }
 header nav ul li a, footer ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    flex-wrap: wrap;
}
/* Hero Section */
.hero {
    /* padding: 60px; */
    background-image: url("../images/luckycharms.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
}
.subtitle {
    display: inline-block;
    position: relative;
    top:355px;
    left: 59%;
    flex-wrap: wrap;
}
 .hero h2 {
    /* display: inline; */
    /* margin-top: 300px; */
   color: #ffdfd3;
   font-size: 3vw;
   font-style: italic;
   font-weight: bolder;
 }
    /* About Me Section  */
    /* .hero img {
        width: 250px;
        height: 250px;
        display: flex;
    }  */
   .about-me, .work {
    display: flex;
    border: #dd8daf solid 3px;
    margin: 10px;
    background-color: white;
   }
   .section-title {
    font-size: 25px;
    color: var(--primary-color);
    margin-top: 20px;
    display: flex;
    padding: 20px;
    margin: 20px;
    
   }
   .about-me h2, .work h2 {
    display: flex;
    line-height: 1.7;
    color: var(--primary-color);
    font-size: 40px;
    align-items: center;
    margin: 30px;
    border-right: solid 2px var(--words);
   }
   .about-me p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   }

   /*Work Section*/
   .cards {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
   .cards img {
        object-fit: cover;
        border: var(--primary-color) solid 4px;
        opacity: 70%;
   }
   .work {
        display: flex;
        justify-content: space-around;
}
   .cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.card1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card1 img{
    width: 600px;
}
.card2, .card3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.card2 img, .card3 img{
    width: 300px;
}
    .cards img:hover {
    opacity: 100%;
}

   /* Footer Section */
footer {
    /* justify-content: space-around; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
footer h2 {
    font-size: 40px;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
footer ul li {
    display: flex;
    font-size: 23px;
    font-style: normal;
}
footer ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}
footer ul li:hover, footer ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 20px; 
}